.featuredProducts {
  padding: 4rem 0;
}

.featuredProducts h2 {
  color: var(--color-secundario);
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.featuredProducts ul {
  display: flex;
  justify-content: space-between;
}

.featuredProducts ul li {
  width: 20%;
}

.cargando {
  text-align: center;
  font-size: 3rem;
}
