header {
  background: var(--color-principal);
  padding: 2rem 0;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header h1 {
  color: var(--blanco);
  font-family: "Fredoka One", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0 2rem;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: var(--blanco);
  font-size: 1.5rem;
  position: relative;
}

header nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background: var(--blanco);
  position: absolute;
  bottom: -0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

header nav ul li a:hover::after {
  opacity: 1;
}
