.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

#modal:target {
  display: flex;
}

.modal {
  background: var(--blanco);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.modal .cerrar {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
}
