@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: #096dd7;
  --color-secundario: #a13ddf;
  --blanco: #fff;
  --text: #333;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
